@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Mulish:ital,wght@1,300&display=swap');
/*    font-family: 'Mukta', sans-serif;

    font-family: 'Mulish', sans-serif; */

    
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

 body{
        font-family: 'Mulish', sans-serif; 
    }
.nav-link{
    font-size: 20px;
    margin-left: 7px;
    padding: 10px;
    font-family: 'Mukta', sans-serif;
    font-weight:lighter;
    text-transform: uppercase;
}

.bg-left{
    background-image:url(/bg-1.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.slider-all img{
    width: 70%;
    position: relative;
    right: 0;
}
section{
    margin-top: 80px;
}
.carousell{
    margin-top: 50px;
}
.categories{
    margin-top: 40px; 
}

.smartphone a{
        text-decoration: none;
        color: chocolate;
        font-weight: bold;
        font-size: 20px;
}
#smartphone img{
    width: 100%;
}
.laptop h1{
    font-weight: bold;

}
.cat1{
    margin-left: 5px;
}
.card{
    border: none;
    
}
.cat-1 img{
        width: 70%;
}
.categories.card{
    box-shadow: 5px 5px 10px lightgray;
}
.card img{
    width: 80%;
    padding-top: 50px;
}
.footer li{
    text-decoration: none;
}
.cat_1{
    padding-left:100px ;
}
.icon{
   
    
}
.icon img{
    width: 25px;
    height: 25px;
    margin-right: 7px;
    
}
